body,html,div,span,h1,h2,h3,h4,h5,h6,p,ul,ol,li,blockquote,form,input,fieldset{margin:0;padding:0}
img,fieldset{border:none;outline:none}
img{height:auto;max-height:300px;max-width:300px;width:auto}
ul,ol{list-style:none}
body{font:62.5% Verdana, Arial, Trebuchet MS;margin: auto;-webkit-text-size-adjust: none;line-height: 125%;}
#header{background:#464646;border-bottom:1px solid #ccc;}
#pageblock{background:#e4f2fd;border-bottom:1px solid #c6d9e9;color:#333}
.post{background:#f5f5f5;border-bottom:1px solid #c6d9e9;padding:8px}
.page{background:#f5f5f5;padding:8px}
#postfoot{background:#e4f2fd;color:#333;padding:8px}
#indexpostfoot{background:#555;color:#333;padding:8px}
#loading{background:#fff url(images/loading.gif) center no-repeat;clear:both;display:none;font-size:12px;height:30px;text-align:center;padding:5px 0}
#comments{background:#e4f2fd;border-top:1px solid #c6d9e9;color:#333;padding:8px}
.comments{display:none}
#search{background:#e2e2e2;border-top:0 solid #ccc;padding:8px}
#footer{background:#808080;padding:8px}
h1{font-size:1.4em;line-height:1.4em;margin:0 0 10px}
#header h1{color:#ccc;margin:0}
#header h1 a{color:#ccc;text-decoration:none}
h2 a{color:#2583ad}
#pageblock h2{margin:0;padding:8px}
p{color:#333;font-size:1.2em;line-height:1.4em;margin:0 0 10px}
#header p{color:#888;font-size:1.1em;margin:0}
#header p a{color:#888}
.post p.commentfoot{font-size:1.1em}
#footer p{color:#333;font-size:1.1em;margin:0}
#footer p a{color:#9F9F9F;}
ul{list-style:disc;margin:0 0 10px 25px}
ol{list-style:decimal;margin:0 0 10px 25px}
ul li,ol li{color:#333;font-size:1.2em;padding:2px}
ol#pages{margin:0 0 0 20px}
ol#pages li{color:#333;font-size:1.1em;padding-left:0}
blockquote{border-left:4px solid #ccc;padding-left:4px;margin:8px}
.aduity{background:#f5f5f5;border-bottom:1px solid #ccc;text-align:center}
.aduity2{background:#FFF;border-bottom:1px solid #ccc;text-align:center}
.aduity a{color:#d54e21;font-size:1.2em;line-height:1.4em}
.aduity2 a{color:#000;font-size:1.2em;line-height:1.4em}
.aduity ul,.aduity2 ul,#footer ul{list-style:none;display:block;margin:0;padding:0}
.aduity ul li,.aduity2 ul li,#footer ul li{display:inline;background:transparent;padding:0}
.aduity ul li a,.aduity2 ul li a{color:#d54e21;text-decoration:none;border-left:1px solid #ccc;padding-right:2px;padding-left:3px}
.aduity ul li:first-child a,.aduity2 ul li:first-child a{border:0px;}
.aduity ul li.active{background:#fff;font-weight:700;border-bottom:3px solid #fff;border-top:3px solid #fff}
.aduity ul li.active a{font-weight:700}
.aduity ul li:hover{background:#fff}
.aduity2 ul li:hover{background:transparent}
.aduity2 ul li a{color:gray;padding-right:2px;padding-left:5px}
#footer ul li a{color:#333;padding-right:5px}
.clear,.aduity{clear:both}
.message,.msg{background:#FBE6F2;border:1px solid #ccc;color:#333;margin:10px 0 5px;padding:10px}
.message p,.msg p{margin:5px 0 6px;padding:0}
.nav_page{text-align:center;padding:10px 0}
.aduity2 .nav_page{text-align:left;padding:2px 0}
.nav_page ul li{display:inline;border:1px solid #e0e0e0;background:url(../images/pageNav.gif) top repeat-x;margin-right:2px;padding:4px 8px}
.nav_page ul li.first{margin-right:4px}
.nav_page ul li a,.nav_page ul li a:visited{color:#333;text-decoration:none;font-weight:700}
.nav_page ul li a:hover{color:#888;text-decoration:none}
.nav_page ul li a.current,.nav_page ul li a.current:visited{color:#888;font-weight:700;text-decoration:none}
.widget_content_page {padding:0px 5px;color:#333;}
.widget_content_page h1{}
.widget_content_page h1 a{color:#00578b;text-decoration:none}
.widget_content_page h1 a:hover{color:#08c;text-decoration:none}
.widget_content_page h2{color:#253245}
.widget_content_page p{line-height:150%}
.widget_content_page img.content_image{text-align:left;float:left;padding-right:10px}
.content_up{margin-bottom:10px}
.block_dark-4 .content_up{font-size:11px;margin-bottom:0}
.content_up .created{font-size:11px;color:#A4A4A4}
.content_up .author{float:right;font-size:11px;color:#888}
.content_front{line-height:150%;color:#333}
.content_front img.thumbnail{float:left;margin-right:10px;margin-bottom:10px}
.content_front a,.content_front a:visited{color:#666;text-decoration:underline}
.content_front a:hover{color:#111;text-decoration:underline}
.content_front a.readmore,.content_front a.readmore:visited{padding-left:5px;padding-right:8px;color:#08c;text-decoration:none;background:url(../images/arrow-blue.gif) no-repeat;background-position:100% 60%}
.content_front a.readmore:hover{padding-right:8px;color:#e62f31;text-decoration:none;background:url(../images/arrow-gray.gif) no-repeat;background-position:100% 60%}
.content_down{clear:both;font-size:11px;color:#888;padding:3px 0 8px}
.content_down .rating{float:left;width:90px;height:22px;font-size:18px;text-indent:-1000px}
.rating.v0{background:url(../images/icon/0.gif) no-repeat}
.rating.v1{background:url(../images/icon/1.gif) no-repeat}
.rating.v2{background:url(../images/icon/2.gif) no-repeat}
.rating.v3{background:url(../images/icon/3.gif) no-repeat}
.rating.v4{background:url(../images/icon/4.gif) no-repeat}
.rating.v5{background:url(../images/icon/5.gif) no-repeat}
.rating.v6{background:url(../images/icon/6.gif) no-repeat}
.rating.v7{background:url(../images/icon/7.gif) no-repeat}
.rating.v8{background:url(../images/icon/8.gif) no-repeat}
.rating.v9{background:url(../images/icon/9.gif) no-repeat}
.rating.v10{background:url(../images/icon/10.gif) no-repeat}
.content_down .addthis_button{float:right;padding-right:7px;padding-top:2px;cursor:pointer}
.content_down #icon_print{float:right;margin-top:2px;width:22px;height:16px;cursor:pointer;background:url(../images/icon/print.gif) no-repeat}
.content_down #icon_mail{float:right;margin-top:2px;width:22px;height:16px;cursor:pointer;background:url(../images/icon/mail.gif) no-repeat}
.content_down #icon_download{float:right;margin-top:2px;width:22px;height:16px;background:url(../images/icon/download.gif) no-repeat;cursor:pointer}
.content_down #icon_pdf{float:right;margin-top:2px;width:22px;height:16px;cursor:pointer;background:url(../images/icon/pdf.gif) no-repeat}
.content_down #icon_edit{float:right;margin-top:2px;width:22px;height:16px;background:url(../images/icon/edit.gif) no-repeat;cursor:pointer}
.content_down #icon_inactive{float:right;margin-top:2px;width:22px;height:16px;background:url(../images/icon/inactive.gif) no-repeat}
.content_tags{clear:both;color:#888;font-size:11px;position:relative;margin:0;padding:0}
.content_tags .share_icons{position:absolute;right:0;top:0}
.content_tags .share_icons a{padding:0}
.content_tags .share_icons img{background:url(../images/icon_bg.gif) center bottom no-repeat;padding:0 4px 1px}
.content_tags a,.content_tags a:visited{color:#2477DD;padding:0 10px}
.content_tags a:hover{text-decoration:none;color:#57aaee}
.content_rss{text-align:right}
.modified{float:right;padding-top:3px;padding-right:3px;font-style:italic;color:#888;font-size:11px}
.rating_post{white-space:nowrap;float:left}
.rating_post input{width:18px;height:18px;border:0;cursor:pointer;background:url(../images/icon/3.gif) no-repeat;background-position:-36px 0;margin:-1px;padding:0}
.rating_post input:hover,.rating_post input.active{background-position:0 0}
.rating_post span{padding-left:4px}
.rating_post .voters{display:block;padding-top:4px;padding-left:4px}
p.comment{margin:10px 0!important;padding:5px 0!important}
p.comment a,p.comment a:visited{color:#2477DD;font-size:11px}
p.comment a:hover{color:#57aaee;text-decoration:none}
p.comment img{margin-bottom:-3px;margin-right:3px}
ul.comment_list{list-style:none;margin:0!important;padding:0 1px!important}
ul.comment_list li{padding:1px 0 10px}
ul.comment_list li .comment_list-content{background:#fff url(../images/bg.gif) bottom repeat-x;border:1px solid #e0e0e0;padding:10px}
ul.comment_list li .comment_list-content .photo{width:100px;float:left;margin-right:15px;overflow:hidden;padding:0}
ul.comment_list li .comment_list-content .brief{display:table;height:1%}
ul.comment_list li .comment_list-content span{display:block;font-size:11px;color:#888}
.comment_list-content a,li.comment_list-content a b{color:#333}
.comment_list-content a:hover,li.comment_list-content a:hover b{color:#1154ba}
.comment_list-content p{margin:0 0 5px!important;padding:2px 0!important}
.comment_post{background:#fff url(../images/bg.gif) bottom repeat-x;border:1px solid #e0e0e0;margin:15px 0;padding:0 0 15px}
.comment_post h3{font-weight:700;font-size:14px;color:#222;background:#efefef url(../images/content_block_h3.gif) top repeat-x;border-bottom:1px solid #e0e0e0;margin-bottom:15px;padding:6px 10px}
.comment_post span{float:left;width:75px;padding-left:20px;font-size:12px}
.comment_post input,#search input{font-size:12px;margin-right:2px;color:#333;margin-bottom:5px;border:1px solid #dcdfe3;padding:2px}
.comment_post textarea{font-size:12px;height:50px;color:#333;margin-bottom:5px;border:1px solid #ccc;padding:2px}
.comment_post input:focus,#search input:focus,.comment_post textarea:focus{border:1px solid #aaa}
.comment_post input.button,#search input.button{width:auto;padding-right:10px;padding-left:10px;font-size:11px;color:#fff;background:#1d5293 url(../images/poll_butt.gif) top repeat-x;border:1px solid #3f73b2;cursor:pointer}
.comment_post input.button:hover{background:#3673bd}
.comment_post .smiley_container{position:absolute}
.comment_post .smiley_container #smiley_icons{position:relative;top:-186px;padding-bottom:6px;border-top:1px solid #E2E2E2;border-right:1px solid #CCC;border-bottom:1px solid #CCC;border-left:1px solid #E2E2E2;background:#F8F8EE;z-index:300;display:none}
.comment_post .smiley_container #smiley_icons img{cursor:pointer;padding:4px 8px}
.smiley_link{margin-top: -2px;padding: 0px 0px 5px 94px;text-align:left}
.smiley_link a{color:#317ebd;text-decoration:none}
.smiley_link a:hover{color:#e62f31;text-decoration:none}
#captcha_image{float:left}
#captcha_refresh{width:24px;height:42px;background:url(../images/refresh.gif) no-repeat;background-position:0 23px;float:left;cursor:pointer}
#headerwrap,#contentwrap,#searchwrap,#footerwrap{width:100%}
h2,h3{font-size:1.2em;line-height:1.4em;margin:0 0 10px}
h2.title,.post p.singleline,.oneline p{margin:0}
p a,#postfoot p a,ol#pages li a,.aduity2 ul li:hover a{color:#d54e21}
.post p.subtitle,#postfoot p,#indexpostfoot p{font-size:1.1em;margin:0}
#indexpostfoot p a,.nav_page ul li a.disabled,.nav_page ul li a.disabled:visited{color:#ccc}
ul.gallery{list-style:none;margin:0!important;padding:0 1px!important}
ul.gallery li{display:inline;float: left;height: 135px;max-width: 140px;padding:2px;text-align:center;}
